data/*
!data/*.b3sum
!data/*.sha256
results/
volumes/
ai4mi/
bin/
__pycache__/
grad_figs/*.png
data_nnunet/*
Dataset010_SEGT/*
nnunet
nnunetv2/documentation/*
data_test/*
ai4mi_laptop/
local_server_backup/*
logs/*
logs_out/*
Altnnunet/*
serv/*
alt/*
reference_eddited_nnunetv2/*
nnUNet-edited/*
ref/*
logs_out2/*
plot2/*
validation/*
plots/*
.Rproj.user
stats/r_stats/FINALBASELINE/*
stats/r_stats/results/*
stats/r_stats/results/plot_paper.py
stats/r_stats/paperplots/*
stats/r_stats/p_values/*
nnunetv2/*
nnunetv1/*
.job
.out
paperplots/
